# Database connection string
MONGO_URI=

JWT_SECRET=

GOOGLE_CLIENT_ID=

GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
# chat bot
DEEPGRAM_API_KEY=

PROJECT_ID=
PORT=4000

OPENAI_API_KEY=

OPENROUTER_API_KEY=
GEMINI_API_KEY=